body {
  width: 100%;
  height: 100%;
  display: flexbox;
  justify-content: center;
  background-size: 100% 100%;
  background: rgb(199, 199, 199);
  margin: 0px;
}
.sun button{
  border-radius: 30px;
  border: 0px;
  background-color: #00000000;
}
.sun button:active{
  background-color: #00000059;
}

.nastr{
    padding: 10px;
    padding-top: 15px;
    margin-top: 10vh;
    background-color: #ffffff52;
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.24);
}

input {
  color: #FFFFFF;
}

.contbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  font-size: 1.5vh;
  background-color: #ffffff52;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.24);
  padding: 10px;
  width: 50vh;
}

.verh {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;


}

.ser {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(43, 43, 43, 0.568);
  padding-bottom: 10px;
}

.niz {
  height: 5vh;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

input {
  font-size: 1.5vh;
  width: 20vh;
  background: rgba(0, 0, 0, 0.233);
  border-radius: 15px;
  border: 0px solid rgba(43, 43, 43, 0.568);
  border-bottom: 3px solid rgba(163, 163, 163, 0.568);

}

.verh1 {
  font-size: 1.5vh;
  background: rgba(255, 255, 255, 0.034);
  width: 15vh;
  height: 5vh;
  border-radius: 15px;
  border: 1px solid rgba(43, 43, 43, 0.568);
  color: #313131;
}

.itog {
  font-size: 1.5vh;
  background-color: #ffffff52;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.24);
  padding: 10px;
  width: 50vh;
  margin-top: 30px;
}

.itog h1 {
  border-bottom: 0px solid rgba(43, 43, 43, 0.568);
  margin: 0;
}

#tel {
  font-size: 2vh;
}

option {
  background: rgba(143, 143, 143, 0.623);
}

::-webkit-input-placeholder {
  color: #444444;
  font-family: cursive;
}

.copy {
  width: 50vh;
}

.copy2 {
  border-bottom: 2px solid rgba(43, 43, 43, 0.568);
}



/* CSS */
.button-27 {
  appearance: none;
  background-color: #00000070;
  border: 2px solid #53535370;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 6vh;
  width: 12vh;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-28 {
  appearance: none;
  background-color: #00000070;
  border: 2px solid #46464670;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5vh;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: fit-content;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28.glow-on-hover:active {
  box-shadow: none;
  transform: translateY(0);
}

.vse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1px) and (max-width: 450px) {
  .vse {
    width: 100%;
  }

  .contbox {
    width: 100%;
  }

  .cont {
    width: 100%;
    border: 0px solid rgba(255, 255, 255, 0.3);
  }

  .copy {
    width: 90%;
    padding: 10px;
  }

  .copy h1 {
    font-size: 3vh;
    padding: 5px;
  }

  .button-28 {
    font-size: 2vh;
    height: 6vh;
    width: 20vh;
  }

  .button-27 {
    font-size: 1.7vh;
    height: 6vh;
    width: 12vh;
  }

  .itog {
    overflow: hidden;
    width: 100%;
    padding: 0px;
    border: 0px solid rgba(255, 255, 255, 0.3);
  }

  #tel {
    padding: 10px;
    width: 80%;
  }

  .but {
    width: 50%;
  }
}

.dn{
  background-color: #c52121;
  width: 30px;

}

@media (min-width: 1px) and (max-width: 450px) {
  .button-27 {
    font-size: 1.7vh;
    height: 6vh;
    width: 12vh;
  }
}

.class_sun{
  background-color: #313131;
  color: #ff8e0c;
  border: #fff1d7;
}